# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
build/
out/
*.log

# RAGE-MP
client_packages/
server_packages/
packages/
ragemp-server.exe
ragemp-server.exe.config
ragemp-server.dll
plugins/
dump/
logs/
updates/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.local
